#invoice {
    text-align: center;
  }
  
#invoice canvas{
    margin-top: 30px;
    border: 1px solid black;
    width: 60%;
  }
  

  
.loadingContainer{
  margin:25% auto;
}

#spinner
{
  width: 10rem; 
  height: 10rem;
  margin: auto 0;
}
  

@media only screen and (max-width: 600px)
{
  .loadingContainer{
    margin:60% auto;
  }
  #spinner
  {
    width: 5rem; 
    height: 5rem;
    margin: auto 0;
  }

}



#invoice
{
  display: none;
}



