body{
  background-color: rgb(247, 248, 249);
}


.card-body{
    position: relative;
}

.bookTitle
{
    text-align: center;
}



.bookPrice
{    
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 5%;
}


/* //Designing the rows */
.productRow
{
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 600px) {
    .col{
        margin: auto;
    }
  }


  option
  {
    height: 80px;
  }

  
  /* cart div */

  #checkout
  {
    background-color:rgb(241, 241, 242);
    width: 480px;
    padding: 30px;
    

    /* height: 600px; */
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* scroll-behavior: auto; */
    position: fixed;
    top:60px;
    right: 0;
    height: auto;
    max-height: 80vh;
    /* padding-bottom: 2px; */
  }

  #checkoutHeading{
    font-weight: 700;
  }


  #invoiceButton
  {
    position: absolute;
    right:5%;
  }

  #checkoutBtn
  {
    position: absolute;
    right: 13%;
  }

  /* //Invoice Button ANd Cart */

  @media only screen and (max-width: 600px)
  {
    
    #checkout
    {
      width: 100%;
      height: auto;
      max-height: 80vh;
      overflow-y: scroll;
      padding: 5px;
      scroll-behavior: smooth;
    }


  #checkoutBtn
  {
    position: absolute;
    right: 40%;
  }

  }


#invoiceButton
{
  display: block;
  position: relative;
  left: 0;  
  width: 100%;
}


.invoiceBtn
{
  width: 100%;
}


/* 
    book layout
 */
@media only screen and (max-width: 600px)
{
  .book-subject
  {
    font-size:90%;
    font-weight:700;
  } 
  .book-type
  {
    font-size:12px;
  }
  .book-class
  {
    font-size:12px;
  }
  .book-code-head
  {
    margin-bottom:10px;
  }
  .book-code
  {
    font-size:13px;
    overflow:hidden;
    font-size:11px
  }
  
  .book-price-head
  {
    margin-bottom:10px;
  }
  .book-price
  {
    font-size:13px;
    padding-left:8px
  }
  .book-btn
  {
    font-size:10px;
    padding:2px 4px;
    margin:0;
    position:relative;
    left:-15px;
    z-index:0;
  }
}


/* Filters */


.filter-container
{
  margin-top: 60px;
  max-width: 100%;
  margin-right: 0;
  margin-left: 10%;
}

.filter-heading{
  margin: 35px auto auto 40px;
}

.filters{
  margin-top: 10px;
  position: relative;
  left: -200px;
  width: 40%;
  height: 40px;
  text-align: center;
}


@media only screen and (max-width: 600px)
{
  .filters
  {
    position: static;
    padding: 1px;
    font-size: 13px;
    border-radius: 6%;
    margin: 0;
    width: 80%;
    margin-top: 10px;
    text-align: center;
    border-radius: 4%;
  }
  .filter-container
  {
    margin: 0;
    max-width: 100%;
    background-color: #fff;
    padding: 10px 0 10px 6px;
    margin-top: 60px;
  }

  select
  {
    width: auto;
  }

  .filter-heading{
    margin-top: 35%;
    margin-left: 5px;
  }
}



@media only screen and (max-width: 600px)
{
  .cartItems
  {
    margin: 5px 10px 5px 5px;
    padding: 0;
    padding-left: 10px;background-color:#fff;
    border-radius: 6%;
    display: flex;
    align-items: center;
  }
  .cartItems-Desc
  {
    padding-left: 0px;
    font-size: 13px;
    font-weight: 700;
  }
  .cartItems-Qty
  {
    font-size: 13px;
  }
  .cartItems-Price
  {
    font-size: 13px;
  }
  .cartItems-Remove
  {
    font-size: 13px;
  }
}


#greyContainer
{
  display: none;
  position: fixed;
  top:60px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(71, 66, 66);
  opacity: 0.3;
  z-index: 1;
}



@media only screen and (max-width: 600px)
{
#logo
{
  width: 70%;
}
}